/* font-family: "Roboto", sans-serif;
font-family: "Raleway",sans-serif; */

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}
 /* Reset start */

 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p {
     margin: 0;
 }

 ul,
 ol {
     list-style-type: none;
     margin: 0;
     padding: 0;
 }

a {
    text-decoration: none;
}

img {
    display: block;
}
/* Reset end*/

.container {
    max-width: 1158px;
    padding: 0 16px;
    margin: 0 auto;
    outline: 2px solid red;
}

.logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.section {
    padding: 120px 0;
}

/* #region Header */
.page-header {
padding: 24px 0;
}

.header-container {
display: flex;
align-items: center;
}

.header-logo .logo-part {
    color: #2e2f42;
    align-items: center;
    margin-right: 76px;
}

.header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.footer-logo .logo-part-footer {
    color: #f4f4fd;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-link {
    display: block;
    padding: 12px 0;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.contacts {
    font-style: normal;
}

.contacts-list {
display: flex;
gap: 40px;
}

.contacts-link {
    display: block;
    padding: 12px 0;
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}
/* #endregion */

/* #region section-one */
.section-one {
    background-color: #2e2f42;
}

.main-title-container {
    display: flex;
    align-items: center;
    flex-direction: column;
margin: 0 auto;    
}

.main-title {
    width: 496px;
    margin-bottom: 45px;
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        text-transform: capitalize;
}

.order-button {
        padding: 16px 32px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background-color: #4d5ae5;
        cursor: pointer;
}

.order-button:hover,
.order-button:focus {
    background-color: #404bbf;
}

/* #endregion */

/* #region section-two */ 

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}

.features-list {
    display: flex;
    padding: 120px 0;
    gap: 24px;
}

.features-name {
    margin-bottom: 8px;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.features-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}



/* #endregion */

/* #region section-three */
.section-three {
    background-color: #f4f4fd;
}

.team-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}

.team-list {
    display: flex;
}

.team-member {
    background-color: #ffffff;

}
.team-member-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.team-member-job {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

/* #endregion */

.portfolio-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}

.portfolio-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.portfolio-type {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.footer {
    background-color: #2e2f42;
}

.footer-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}